<div>Game Details Page</div>

<h3 class="display-4">Test</h3>
<div class="row">




        <div class="column" >

            <p> <%= game.name %></p>

            <p><%= game.platforms.name%></p>
            <p><%= game.platforms.name%></p>
            <p><%= game.summary%></p>
            <img src="<%= game.screenshots[1].url.replace('t_thumb', 't_screenshot_med') %>" />
            <img src="<%= game.screenshots[2].url.replace('t_thumb', 't_screenshot_med') %>" />
            <img src="<%= game.screenshots[3].url.replace('t_thumb', 't_screenshot_med') %>" />
            <img src="<%= game.screenshots[4].url.replace('t_thumb', 't_screenshot_med') %>" />



        </div>
</div>