
<div class="column" >
    <a href ="#/games/<%= games[0].id%>">

        <img src="<%= games[0].cover.url.replace('t_thumb', 't_cover_big') %>" />
        <p> <%= games[0].name %></p>
        <p>Rating: <%=games[0].aggregated_rating%></p>
        <p>Genre:  <%= games[0].genres[0].name %></p>



    </a>
</div>
