<% layout('layouts/boilerplate') -%>



<body ng-controller="maincontroller">
<!-- NAVBAR -->

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-pied-piper-alt fa-lg" style="color: white;"></i> Games Web App</a>
    </div>

    <ul class="nav navbar-nav navbar-left">

<form action='/games/:id' method="GET" class="form-inline">
  <div class="form-group">
      <input type="text" name="search" placeholder="search term" >
      <input type ="submit" value="search" class="btn btn-default">
  </div>

</form>

      <li><a href="#/"> Home</a></li>
      <li><a href="#/games"> Games</a></li>
      <li><a href="#/PriceChecker">Price Checker</a></li>
        <li><a href="#/News">News</a></li>
      <li><a href="#/forums"> Forums</a></li>
      <% if(user){ %>
      <li><a href="#/"></a><%= user.username%></li>
      <li><a href="#/profile ">Profile</a></li>
        <li><a href ="/logout">Logout</a></li>
        <% } else { %>

        <li><a href="#/register1">Register </a> </li>
        <li><a href="#/login">Log In</a></li>

      <% } %>




        </ul>
      </div>





    </ul>

  </div>
</nav>


<!-- MAIN CONTENT AND INJECTED VIEWS -->

<div id="main">





  <h3 class="display-4">Recent games</h3>
  <div class="row">


    <div class="column" >
      <a href ="#/games/<%= games[0].id%>">

      <img src="<%= games[0].cover.url.replace('t_thumb', 't_cover_big') %>" />
      <p> <%= games[0].name %></p>
        <p>Rating: <%=games[0].aggregated_rating%></p>
      <p>Genre:  <%= games[0].genres[0].name %></p>



      </a>
    </div>

      <div class="column" >
          <a href ="#/games/<%= games[1].id%>">


              <p> <%= games[1].name %></p>
              <p>Rating: <%=games[1].aggregated_rating%></p>
              <p>Genre:  <%= games[0].genres[0].name %></p>



          </a>
      </div>




  </div>
</a>
  <div class="row1">





</div>

<!-- End of main div -->


</div>
