<html ng-app="GamesWebApp" xmlns:src="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="#" />
  <title>Games Web App</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>

  <script src="/javascripts/angularApp.js"></script>
  <script src="/javascripts/controllers/maincontroller.js"></script>
  <script src="/javascripts/controllers/gamescontroller.js"></script>
  <script src="/javascripts/controllers/gamescontroller.js"></script>
  <script src="/javascripts/controllers/registrationcontroller.js"></script>
  <script src="/javascripts/controllers/logincontroller.js"></script>



  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>

<body ng-controller="maincontroller">
<!-- NAVBAR -->

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-pied-piper-alt fa-lg" style="color: white;"></i> Games Web App</a>
    </div>

    <ul class="nav navbar-nav navbar-left">


      <input type="text" placeholder="Search..">
      <li><a href="#/"> Home</a></li>
      <li><a href="#games"> Games</a></li>
      <li><a href="#PriceChecker">Price Checker</a></li>
      <li><a href="#forums"> Forums</a></li>
      <% if(user){ %>
      <li><a href="#/"></a><%= user.username%></li>
        <li><a href ="/logout">Logout</a></li>
        <% } else { %>

        <li><a href="#/register1">Register </a> </li>
        <li><a href="#/login">Log In</a></li>

      <% } %>




        </ul>
      </div>





    </ul>

  </div>
</nav>


<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">



  <div ng-view></div>

  <h3 class="display-4">Recent games</h3>
  <div class="container mx-auto flex flex-col md:flex-row">
    <div class="w-full md:w-1/4 -mt-16">

      <img src="<%= games[0].cover.url.replace('t_thumb', 't_cover_big') %>" />
      <p> <%= games[0].name %></p>
      <img src="<%= games[1].cover.url.replace('t_thumb', 't_cover_big') %>" />
      <p><%= games[1].name %></p>
      <img src="<%= games[2].cover.url.replace('t_thumb', 't_cover_big') %>" />
      <p><%= games[2].name %></p>
      <img src="<%= games[3].cover.url.replace('t_thumb', 't_cover_big') %>" />
      <p><%= games[3].name %></p>
      <img src="<%= games[4].cover.url.replace('t_thumb', 't_cover_big') %>" />
      <p><%= games[4].name %></p>
      <img src="<%= games[5].cover.url.replace('t_thumb', 't_cover_big') %>" />
      <p><%= games[5].name %></p>
    </div>


  </div>

  <script>


  </script>




</div>

<!-- End of main div -->


</div>
<footer class="text-center">
  <p>Padraig Foran Final Year Project</p>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>